body{

    margin: 0%;
    background-color:  rgb(246, 237, 215);
    z-index: -1;
}

footer{
    color: rgb(164, 35, 15);
    background-color:  rgb(246, 237, 215);
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: center;
    z-index: 0;
    position: static;
    float: none;
    padding: 10px 10px;
    clear: both;
    text-align: center;
}

.cabecalho{
    position: sticky;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 0 0 0;
    margin-bottom: 0px;
    top: 0px;
    background-color: rgb(246, 237, 215);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial; 
    float: center;
    z-index: 1;
}
.menu{  
    position: sticky;
    margin: 0;
    top: 0px;
    background-color: rgb(246, 237, 215);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    float: center;
    z-index: 1;
}

.item-menu{
    position: relative;
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: inline;
    
}

.item-menu a{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 15px;
    display: inline-block;
    color: rgb(164, 35, 15); 
    text-decoration-line: none;
    text-align: center;   
}

.item-menu a:hover{
    color: rgb(247, 100, 71);
}

.item-menu-img{
    margin: 0% 0% 0% 0%;
    padding: 0%;
    list-style: none;
    display: inline;
    align-items: center;
}

#img-menu{
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 7px 5px;
    display: flex;
    color: rgb(164, 35, 15);
    text-decoration-line: none;
    text-align: center;   

}

#fachada{
    width: 800px;
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    position: relative;
}

#div-fachada{
    padding: 0px;
    align-items: center;
    clear: both;
}

.div-container1{
    display: block;
    flex-direction: column;
    align-items: center;
}

.carrossel{
    align-items: center;
    margin: 0px 30px 0px 30px;
    
}

.carrossel div{
    padding: 0px;
    margin-top: 0px;
    align-items: center;
    text-align: center;

}

.carrossel div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    height: 370px;
    width: 800px;
}

#pratos-dia{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pratos-dia h2{
    font-family: 
}

.carrossel div h3{
    margin: 0px;
}

.carrossel div h5{
    margin-top: -20px;
    margin-bottom: 5px;
    
}

#imagem-descricao{
    align-items: center;
    text-align: center;
}

#imagem-descricao p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    font-size: 23px;
}

#imagem-descricao img{
    width: 250px;
    flex-direction: row;
}

input{
 
}

.div-central{
    align-items: center;
    clear: both;
}

.div-central form{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.formulario{
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    float: center;
}

.div-central form p{   
    
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#mensagem{
    width: 200px;
    height: 100px;
    text-align: start;
    border-radius: 10px;
}
.entrada{
    width: 200px;
    border-radius: 10px;
}

.fale-conosco{
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao-enviar{
    padding: 5px;
    border-radius: 5px;
    position: relative;
    float: right;
    margin-right: 5px;
}

#h1-pratos{
    margin-left: 225px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(164, 35, 15); 
    
}

.container-pratos{
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;

    align-items: center;
    
    
}

.lista-pratos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style-type: none;
}

.item-lista{
    margin-bottom: 30px;
}

/* .item-lista2{
    
}
.item-lista3{
    
} */

section{
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.imagem-produto{
    width: 200px;
    height: 170px;
    border-radius: 10px;
}
.titulo-produto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(164, 35, 15); 
    
}

.div-preco{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(164, 35, 15); 
}

.div-preco p{
    margin-top: 1px; 
}

.span-preco{
    
}

#mostrar-mais{
    width: 800px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}